{% extends "base.html" %}
{% block content %}

<nav data-module="nav" class="nav-w">
  <div class="nav">
    <div class="logo-banner-w">
      PAPER
      <div class="x-adjust-right">X</div>
      IMPLEMENTATIONS
    </div>
  </div>
</nav>

<section id="text" class="sec">
  <ul role="list" class="comp text-exp w-list-unstyled">
    <li class="text-g-item">
      <div class="text-example-container">
      <div data-delay=".1" data-animate="text" data-type="chars" data-duration="1.2" class="text-effect-w">
        <div class="text-effect-tx">Split Chars</div>
      </div>
    </div>
        <div class="text-example-tx-w">
          <div>Character Split Reveal</div>
        </div>
      </li>
    <li class="text-g-item"><div class="text-example-container">
      <div data-delay=".2" data-animate="text" data-type="words" data-duration="1.2" class="text-effect-w">
        <div class="text-effect-tx">Split By Words</div>
      </div></div><div class="text-example-tx-w">
          <div>Word Split Reveal</div>
        </div>
      </li>
          
      <li class="text-g-item"><div class="text-example-container">
            <div data-delay=".1" data-animate="text" data-type="scramble" data-duration="1.2" class="text-effect-w">
              <div class="text-effect-tx">Scramble</div></div></div><div class="text-example-tx-w">
                <div>Scramble Text Reveal</div>
              </div>
            </li>
                
            <li class="text-g-item"><div class="text-example-container">
                  <div data-delay=".1" data-animate="text" data-type="alpha" data-duration="1.2" class="text-effect-w">
                    <div class="text-effect-tx">Split Alpha</div></div></div><div class="text-example-tx-w">
                      <div>Alpha Reveal</div>
                    </div>
                  </li>
                      
                  <li class="text-g-item">
                        <div class="text-example-container">
                        <div data-delay=".1" data-animate="text" data-type="side" data-duration="1.2" class="text-effect-w">
                          <div class="text-effect-tx">From the Side</div>
                          </div>
                          </div>
                          <div class="text-example-tx-w">
                            <div>SIide Char Reveal</div>
                            </div>
                          </li>
                <li class="text-g-item"><div class="text-example-container">
                  <div data-delay=".1" data-animate="text" data-type="updown" data-duration="1.2" class="text-effect-w">
                    <div class="text-effect-tx">Up and Down</div>
                    </div></div><div class="text-example-tx-w">
                      <div>Up and down Reveal</div>
                </div>
                </li>
                </ul>
<!-- <div class="explainer-w"><div data-module="explainer" data-css="explainer" class="explainer-comp"><label class="div">
                                          <input type="checkbox" class="input"/><span class="span"><div class="explainer-he">Split, animate, reveal</div>
                                          <div class="plus-icon-w"><div class="plus-line rotate"></div><div class="plus-line"></div></div></span>
                                          </label><div data-css="" class="explainer-expandable-w">
                                            <div class="explainer-overflow"><div class="explainer-content-w">
                                              <p class="explainer-par">Animate each one independently. It’s all motion, no compromise: screen readers and search engines still see the original text.</p>
                                              </div>
                                              </div>
                                              </div>
                                              <div class="explainer-copy-btn-w">
                                                <button data-module="copybtn" data-copy="https://cdn.prod.website-files.com/67fea42b19018db93e3fe132/6811e2c873ab161c8499accd_text-final.json.txt" class="btn copy">
                                                  <div class="btn-cent-w"><div class="text-block">Copy this</div>
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 9 11" fill="none" class="svg copy-icon">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5 1.5H1V6.5H5V1.5ZM0 0.5V7.5H6V0.5H0Z" fill="currentColor"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 8.757V10.5H9V3.5H7.42V4.5H8V9.5H4V8.757H3Z" fill="currentColor"></path>
                                                    </svg></div></button></div><div class="mobile-explainer-prompt">Copy this on Desktop</div>
                                                  </div></div> -->

<div class="code-block w-embed w-script">
<script>
{

/** Utility Functions */
const split = (text, type = "chars") => {
  text.setAttribute("aria-label", text.textContent);
  const splits = new SplitText(text, { type });
  splits[type].forEach((char) => char.setAttribute("aria-hidden", "true"));
  return splits[type];
};

const getParams = (item) => {
  const { duration, delay, stagger, ease, type } = item.dataset;
  const params = {
    duration: 1.2,
    delay: 0,
    type: "chars",
  };

  if (duration) params.duration = parseFloat(duration);
  if (delay) params.delay = parseFloat(delay);
  if (type && (type === "chars" || type === "words" || type === "lines"))
    params.type = type;

  return params;
};

const baseAnimation = (item) => {
  const params = getParams(item);
  return {
    duration: params.duration,
    delay: params.delay,
    ease: "expo.out",
    //   stagger each item so the letters come in one after the other
    stagger: {
      each: 0.04,
      from: "start",
    },
    scrollTrigger: {
      trigger: item,
      // use scrolltrigger to trigger on enter and reset on exit
      toggleActions: "play reset play reset",
    },
  };
};

/** (1) Split Reveal Animation */
function createSplitRevealAnimation(item) {
  const params = getParams(item); // 1. get params from attributes
  const text = split(item, params.type); // 2. split the text
  item.style.overflow = "hidden"; // 3. set container to overflow

  // 4. create the animation
  return gsap.fromTo(
    text,
    { yPercent: 120 },
    {
      ...baseAnimation(item),
      yPercent: 0,
    }
  );
}

function createScrambledAnimation(item) {
  const text = item.textContent;
  const randomText = Array(text.length)
    .fill()
    .map(() => String.fromCharCode(Math.floor(Math.random() * (90 - 65) + 65)))
    .join("")
    .toLowerCase();

  return gsap.fromTo(
    item.children[0],
    {
      scrambleText: randomText,
    },
    {
      ...baseAnimation(item),
      scrambleText: text,
      chars: text,
    }
  );
}

function createAlphaAnimation(item) {

  const params = getParams(item); // 1. get params from attributes
  const text = split(item, "chars"); // 2. split the text

  return gsap.fromTo(
    text,
    { autoAlpha: 0 },
    {
      ...baseAnimation(item),
      autoAlpha: 1,
      stagger: {
        each: 0.02,
        from: "random",
      },
    }
  );
}

function createSideAnimation(item) {
  const params = getParams(item);
  const outer = split(item, "chars");
  outer.forEach((char) => {
    char.style.overflow = "hidden";
  });
  const inner = split(item.children[0], "chars");

  return gsap.fromTo(
    inner,
    { x: 100 },
    {
      ...baseAnimation(item),
      x: 0,
      stagger: {
        each: 0.02,
        from: "end",
      },
    }
  );
}

function createUpDownAnimation(item) {
  const params = getParams(item);
  const outer = split(item, "chars");
  outer.forEach((char) => {
    char.style.overflow = "hidden";
  });
  const inner = split(item.children[0], "chars");

  return gsap.fromTo(
    inner,
    {
      yPercent: (i) => {
        return i % 2 === 0 ? 100 : -100;
      },
    },
    {
      ...baseAnimation(item),
      yPercent: 0,
      stagger: {
        each: 0.02,
        from: "random",
      },
    }
  );
}

/** Main Text Effect Wrapper */
addEventListener("GSAPReady", (event) => {
  const texts = [...document.querySelectorAll('[data-animate="text"]')];

  texts.forEach((item) => {
    if (item.dataset.type === "chars") createSplitRevealAnimation(item);
    else if (item.dataset.type === "words") createSplitRevealAnimation(item);
    else if (item.dataset.type === "scramble") createScrambledAnimation(item);
    else if (item.dataset.type === "alpha") createAlphaAnimation(item);
    else if (item.dataset.type === "side") createSideAnimation(item);
    else if (item.dataset.type === "updown") createUpDownAnimation(item);
  });
});

}
</script>
</div>
</section>


{% endblock %}